body {
  overflow: hidden;
}
div#mission p {
  display: none;
}
div#mission p.active {
  display: inline;
}

iframe {
  width: 99%;
  height: 99%;
  border: none;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display table;
}
.clearfix:after {
  clear: both;
}
#myCanvas {
  position: absolute;
  top: 13px;
  left: 7px;
  z-index: -1;
}
.brackets {
  z-index: -1;
}
#header {  
  height:104px;
}
#banner {
  text-align: center;
  width: 75%;
  margin: auto;
}
ul.links li a:link {
  font-family: courier;
  color: blue;
}
ul.links li a:visited  {
  color: blue;
}
ul.links li a:hover {
  color:red;
  text-decoration:underline;
}
#mission {
  margin-top: 15px;
  font-size: 20px;
}
div#modal {
  display: none;
  background-color: white;
  opacity: .9;
  width: 60%;
  height: 90%;
  margin: auto;
  z-index: 1;
}
#modal-content {
  height: 100%;
}
.left, .right {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
}
#github-logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  overflow: hidden;
}
#github-logo a {
  width:50px;
  height:50px;
  position: inherit;
  background-image: url(/media/github.png);
  background-repeat: none;
  background-size: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -mox-border-radius: 10px;

}
.menu-circle {
  box-sizing: content-box;
  height: 100px;
  width: 100px;
  border: 1px solid grey;
  border-radius: 50px;
  position: absolute;
  text-align: center;
  display: table;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:14px;
  opacity: 0;
  z-index: -1;
}

.menu-circle a {
  display: table-cell;
  vertical-align: middle;
}

a {
  text-decoration: none;
}
.close {
  cursor: pointer;
  opacity: 1;
  text-align: right;
  margin-bottom: 5px;
}
